FusionSOAPClient/src/com/oracle/xmlns/apps/financials/generalledger/journals/desktopentry/journalimportservice/Account.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/financials/generalLedger/accounts/codeCombinations/publicFlex/Account/" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns="http://xmlns.oracle.com/apps/financials/generalLedger/accounts/codeCombinations/publicFlex/Account/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="Mstiledger.xsd" xml:id="Mstiledger-xsd"/>
  <xsd:include schemaLocation="Mteledger.xsd" xml:id="Mteledger-xsd"/>
  <xsd:include schemaLocation="Tamledger.xsd" xml:id="Tamledger-xsd"/>
  <xsd:include schemaLocation="Tscledger.xsd" xml:id="Tscledger-xsd"/>
  <xsd:include schemaLocation="Fmtiledger.xsd" xml:id="Fmtiledger-xsd"/>
  <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
  <xsd:import namespace="commonj.sdo/java"/>
  <xsd:import namespace="commonj.sdo/xml"/>
  <xsd:complexType name="Account">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>_CODE_COMBINATION_ID</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="JgzzReconFlag" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Reference3" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FinancialCategory" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="SummaryFlag" type="xsd:string"/>
      <xsd:element minOccurs="0" name="DetailPostingAllowedFlag" type="xsd:string"/>
      <xsd:element minOccurs="0" name="AccountType" type="xsd:string"/>
      <xsd:element minOccurs="0" name="DetailBudgetingAllowedFlag" type="xsd:string"/>
      <xsd:element minOccurs="0" name="_FLEX_StructureInstanceCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="_FLEX_StructureInstanceId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
      <xsd:element minOccurs="0" name="StartDateActive" nillable="true" type="ns0:date-Date"/>
      <xsd:element minOccurs="0" name="EndDateActive" nillable="true" type="ns0:date-Date"/>
      <xsd:element minOccurs="0" name="EnabledFlag" type="xsd:string"/>
      <xsd:element minOccurs="0" name="_CODE_COMBINATION_ID" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
      <xsd:element minOccurs="0" name="_CHART_OF_ACCOUNTS_ID" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
      <xsd:element minOccurs="0" name="FND_ACFF_ConcatenatedStorage" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FND_ACFF_Delimiter" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="account" type="Account"/>
</xsd:schema>