FusionSOAPClient/src/com/oracle/xmlns/apps/financials/generalledger/journals/desktopentry/journalimportservice/Mteledger.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/financials/generalLedger/accounts/codeCombinations/publicFlex/Account/" xmlns="http://xmlns.oracle.com/apps/financials/generalLedger/accounts/codeCombinations/publicFlex/Account/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:include schemaLocation="Account.xsd"/>
  <xsd:complexType name="Mteledger">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>_CODE_COMBINATION_ID</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Account">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="legalEntity" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="account" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="business" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="costCenter" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="productLine" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="location" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="customerGroup" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="intercompany" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="future1" nillable="true" type="xsd:string"/>
          <xsd:element minOccurs="0" name="future2" nillable="true" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="mteledger" type="Mteledger"/>
</xsd:schema>